In [3]:
import pandas as pd

import numpy as np

In [4]:
col_list = ["date", "tweet"]

df = pd.read_csv("dataset/final.csv", usecols=col_list)

In [5]:
# Print dataframe
#df.style.set_properties(subset=['tweet'], **{'width': '800px'}).hide_index()
df.dropna(subset = ["tweet"], inplace=True)
df

           date                                              tweet
0    2019-04-01  Honestly rn. His behavior excused much itâ€™s un...
1    2019-04-02  FAIR The boob aches. Just hanging chest make h...
2    2019-04-03                        Ok! Had try :)) Are left?!?
3    2019-04-04  I love Zu integral part being, like Iâ€™m real a...
4    2019-04-05  This get bed morning tbh Lol certainly lot. Lu...
..          ...                                                ...
215  2020-03-03                           ðŸ˜‚ðŸ˜‚ Oh lol. Which one?!?!
216  2020-03-04  P: feel?Me: Fast Car Tracy ChapmanP: thatâ€™s no...
217  2020-03-05                                  Um-the cutest?!?!
219  2020-03-12                        Top tier taste right there.
220  2020-03-15      Ok RIGHT. I sneezed work coworkers threw fit.

[199 rows x 2 columns]

In [6]:
nrc=pd.read_csv("NRC-Affect-Intensity-Lexicon/NRC-Affect-Intensity-Lexicon.txt",sep='\t')
nrc

             term  score AffectDimension
0        outraged  0.964           anger
1       brutality  0.959           anger
2          hatred  0.953           anger
3         hateful  0.940           anger
4       terrorize  0.939           anger
...           ...    ...             ...
5809   turbulence  0.045             joy
5810         calf  0.040             joy
5811     hardship  0.031             joy
5812  unhappiness  0.016             joy
5813        sixty  0.016             joy

[5814 rows x 3 columns]

In [8]:
df['tokens'] = df['tweet'].apply(lambda x: str(x).split(" "))
#for t in df['tokens']:
 #   print(t)
#nrc_file[nrc_file["term"]=='happy']
df

,date,tweet,tokens
0,2019-04-01,Honestly rn. His behavior excused much itâ€™s un...,"[Honestly, rn., His, behavior, excused, much, ..."
1,2019-04-02,FAIR The boob aches. Just hanging chest make h...,"[FAIR, The, boob, aches., Just, hanging, chest..."
2,2019-04-03,Ok! Had try :)) Are left?!?,"[Ok!, Had, try, :)), Are, left?!?]"
3,2019-04-04,"I love Zu integral part being, like Iâ€™m real a...","[I, love, Zu, integral, part, being,, like, Iâ€™..."
4,2019-04-05,This get bed morning tbh Lol certainly lot. Lu...,"[This, get, bed, morning, tbh, Lol, certainly,..."
...,...,...,...
215,2020-03-03,ðŸ˜‚ðŸ˜‚ Oh lol. Which one?!?!,"[ðŸ˜‚ðŸ˜‚, Oh, lol., Which, one?!?!]"
216,2020-03-04,P: feel?Me: Fast Car Tracy ChapmanP: thatâ€™s no...,"[P:, feel?Me:, Fast, Car, Tracy, ChapmanP:, th..."
217,2020-03-05,Um-the cutest?!?!,"[Um-the, cutest?!?!]"
219,2020-03-12,Top tier taste right there.,"[Top, tier, taste, right, there.]"
220,2020-03-15,Ok RIGHT. I sneezed work coworkers threw fit.,"[Ok, RIGHT., I, sneezed, work, coworkers, thre..."

In [11]:
by_term = nrc.groupby("term")
by_term.get_group("thief")

       term  score AffectDimension
578   thief  0.561           anger
2246  thief  0.547            fear
4084  thief  0.422         sadness

In [10]:
# Group the occurences of terms in nrc
by_term= nrc.groupby("term")
# Seach for all tokens in nrc file
for tkn in df['tokens']:
    a=[]
    c=0
    for t in tkn:
        if t in nrc.values:
            #ignore non-ascii letters
            t=t.encode("ascii","ignore").decode()
            #group all the occurences of each token 't'
            #by_term.get_group(t)
            #or the following equivalent
            #print(nrc.loc[nrc["term"] == t])
            #a.append(by_term.get_group(t))
            a.append(nrc.loc[nrc["term"] == t])
            c+=nrc['score']
    #print(tkn)
    df['score']=c
    #print(a)
    print(c)

df

0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0
0       5.784
1       5.754
2       5.718
3       5.640
4       5.634
        ...
5809    0.270
5810    0.240
5811    0.186
5812    0.096
5813    0.096
Name: score, Length: 5814, dtype: float64
0       6.748
1       6.713
2       6.671
3       6.580
4       6.573
        ...
5809    0.315
5810    0.280
5811    0.217
5812    0.112
5813    0.112
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0       5.784
1       5.754
2       5.718
3       5.640
4       5.634
        ...
5809    0.270
5810    0.240
5811    0.186
5812    0.096
5813    0.096
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       4.820
1       4.795
2       4.765
3       4.700
4       4.695
        ...
5809    0.225
5810    0.200
5811    0.155
5812    0.080
5813    0.080
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       4.820
1       4.795
2       4.765
3       4.700
4       4.695
        ...
5809    0.225
5810    0.200
5811    0.155
5812    0.080
5813    0.080
Name: score, Length: 5814, dtype: float64
0
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0
0
0       4.820
1       4.795
2       4.765
3       4.700
4       4.695
        ...
5809    0.225
5810    0.200
5811    0.155
5812    0.080
5813    0.080
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       7.712
1       7.672
2       7.624
3       7.520
4       7.512
        ...
5809    0.360
5810    0.320
5811    0.248
5812    0.128
5813    0.128
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       5.784
1       5.754
2       5.718
3       5.640
4       5.634
        ...
5809    0.270
5810    0.240
5811    0.186
5812    0.096
5813    0.096
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       5.784
1       5.754
2       5.718
3       5.640
4       5.634
        ...
5809    0.270
5810    0.240
5811    0.186
5812    0.096
5813    0.096
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032

Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       6.748
1       6.713
2       6.671
3       6.580
4       6.573
        ...
5809    0.315
5810    0.280
5811    0.217
5812    0.112
5813    0.112
Name: score, Length: 5814, dtype: float64
0       4.820
1       4.795
2       4.765
3       4.700
4       4.695
        ...
5809    0.225
5810    0.200
5811    0.155
5812    0.080
5813    0.080
Name: score, Length: 5814, dtype: float64
0       4.820
1       4.795
2       4.765
3       4.700
4       4.695
        ...
5809    0.225
5810    0.200
5811    0.155
5812    0.080
5813    0.080
Name: score, Length: 5814, dtype: float64
0
0       7.712
1       7.672
2       7.624
3       7.520
4       7.512
        ...
5809    0.360
5810    0.320
5811    0.248
5812    0.128
5813    0.128
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0
0
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0       4.820
1       4.795
2       4.765
3       4.700
4       4.695
        ...
5809    0.225
5810    0.200
5811    0.155
5812    0.080
5813    0.080
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0
0
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0
0       7.712
1       7.672
2       7.624
3       7.520
4       7.512
        ...
5809    0.360
5810    0.320
5811    0.248
5812    0.128
5813    0.128
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0       6.748
1       6.713
2       6.671
3       6.580
4       6.573
        ...
5809    0.315
5810    0.280
5811    0.217
5812    0.112
5813    0.112

Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0
0
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       5.784
1       5.754
2       5.718
3       5.640
4       5.634
        ...
5809    0.270
5810    0.240
5811    0.186
5812    0.096
5813    0.096
Name: score, Length: 5814, dtype: float64
0
0
0       5.784
1       5.754
2       5.718
3       5.640
4       5.634
        ...
5809    0.270
5810    0.240
5811    0.186
5812    0.096
5813    0.096
Name: score, Length: 5814, dtype: float64
0       3.856
1       3.836
2       3.812
3       3.760
4       3.756
        ...
5809    0.180
5810    0.160
5811    0.124
5812    0.064
5813    0.064
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0       1.928
1       1.918
2       1.906
3       1.880
4       1.878
        ...
5809    0.090
5810    0.080
5811    0.062
5812    0.032
5813    0.032
Name: score, Length: 5814, dtype: float64
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0
0
0
0       2.892
1       2.877
2       2.859
3       2.820
4       2.817
        ...
5809    0.135
5810    0.120
5811    0.093
5812    0.048
5813    0.048
Name: score, Length: 5814, dtype: float64
0
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0       0.964
1       0.959
2       0.953
3       0.940
4       0.939
        ...
5809    0.045
5810    0.040
5811    0.031
5812    0.016
5813    0.016
Name: score, Length: 5814, dtype: float64
0
0
0
0
0
0
0
0
0
0
0

,date,tweet,tokens,score
0,2019-04-01,Honestly rn. His behavior excused much itâ€™s un...,"[Honestly, rn., His, behavior, excused, much, ...",0
1,2019-04-02,FAIR The boob aches. Just hanging chest make h...,"[FAIR, The, boob, aches., Just, hanging, chest...",0
2,2019-04-03,Ok! Had try :)) Are left?!?,"[Ok!, Had, try, :)), Are, left?!?]",0
3,2019-04-04,"I love Zu integral part being, like Iâ€™m real a...","[I, love, Zu, integral, part, being,, like, Iâ€™...",0
4,2019-04-05,This get bed morning tbh Lol certainly lot. Lu...,"[This, get, bed, morning, tbh, Lol, certainly,...",0
...,...,...,...,...
215,2020-03-03,ðŸ˜‚ðŸ˜‚ Oh lol. Which one?!?!,"[ðŸ˜‚ðŸ˜‚, Oh, lol., Which, one?!?!]",0
216,2020-03-04,P: feel?Me: Fast Car Tracy ChapmanP: thatâ€™s no...,"[P:, feel?Me:, Fast, Car, Tracy, ChapmanP:, th...",0
217,2020-03-05,Um-the cutest?!?!,"[Um-the, cutest?!?!]",0
219,2020-03-12,Top tier taste right there.,"[Top, tier, taste, right, there.]",0
220,2020-03-15,Ok RIGHT. I sneezed work coworkers threw fit.,"[Ok, RIGHT., I, sneezed, work, coworkers, thre...",0